*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #EDEEF0; }

body, html {
  height: 100%; }

.wrapper {
  width: 100%;
  min-height: 100vh; }

.contact {
  padding-top: 300px; }
  .contact h1 {
    font-size: 24px;
    color: green; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 10px solid #ff9000;
  background-color: white; }
  .header .nav-wrapper {
    display: flex;
    flex-direction: column; }
    @media (max-width: 766px) {
      .header .nav-wrapper {
        align-items: center; } }
    @media (min-width: 767px) {
      .header .nav-wrapper {
        flex-direction: row; } }
    .header .nav-wrapper__list {
      list-style-type: none; }
      @media (max-width: 766px) {
        .header .nav-wrapper__list {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          width: 100%;
          max-width: 272px;
          margin-bottom: 20px; } }
      .header .nav-wrapper__list li {
        color: #8a8a8a;
        font-family: "proxima-nova",sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        display: inline-block;
        cursor: pointer; }
        @media (min-width: 767px) {
          .header .nav-wrapper__list li {
            padding-right: 30px; } }
        .header .nav-wrapper__list li a {
          text-decoration: none;
          color: #8a8a8a;
          letter-spacing: 2px; }
          .header .nav-wrapper__list li a:hover {
            color: #000000;
            text-decoration: underline; }
          .header .nav-wrapper__list li a:active {
            color: #8a8a8a; }
      .header .nav-wrapper__list li:hover {
        text-decoration: underline;
        text-underline-position: under; }
    @media (min-width: 767px) {
      .header .nav-wrapper__name {
        position: absolute;
        right: 5%; } }
    .header .nav-wrapper__name h1 {
      font-family: "proxima-nova",sans-serif;
      font-weight: 800;
      font-size: 23px;
      letter-spacing: 2px;
      text-transform: uppercase;
      cursor: pointer; }
      @media (max-width: 361px) {
        .header .nav-wrapper__name h1 {
          font-size: 20px; } }

.footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 15px 45px 15px;
  background-color: white;
  display: flex;
  flex-direction: column; }
  @media (min-width: 767px) {
    .footer {
      position: fixed;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  .footer__name-wrapper p {
    color: #8a8a8a;
    font-family: "proxima-nova",sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 0 auto;
    text-align: center; }
  .footer__social-wrapper p {
    color: #8a8a8a;
    font-family: "proxima-nova",sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center; }

.about-section {
  display: flex;
  flex-direction: column;
  margin: 75px auto 0;
  padding: 45px; }
  @media screen and (min-width: 767px) {
    .about-section {
      flex-direction: row; } }
  .about-section .text-container {
    width: 100%;
    margin-bottom: 25px; }
    @media screen and (min-width: 767px) {
      .about-section .text-container {
        width: 65%;
        margin-bottom: 0; } }
    .about-section .text-container__title, .about-section .text-container__subtitle {
      padding-bottom: 10px; }
    .about-section .text-container__title, .about-section .text-container__subtitle, .about-section .text-container__copy {
      font-family: "proxima-nova",sans-serif;
      text-align: left; }
    .about-section .text-container__title {
      font-size: 28px;
      font-weight: 100; }
    .about-section .text-container__subtitle {
      font-size: 16px;
      font-weight: 100; }
      .about-section .text-container__subtitle span {
        font-weight: 100; }
    .about-section .text-container__copy {
      font-size: 14px;
      font-weight: 400;
      padding-right: 50px; }
  .about-section .img-container {
    width: 100%; }
    @media screen and (min-width: 767px) {
      .about-section .img-container {
        width: 35%; } }
    .about-section .img-container img {
      max-width: 100%;
      height: auto; }

.dashboard {
  color: #8a8a8a;
  height: 100%;
  background: #EDEEF0;
  font-family: "proxima-nova",sans-serif;
  font-size: 16px;
  padding-top: 25%;
  padding-right: 10%;
  padding-bottom: 0px;
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media (min-width: 767px) {
    .dashboard {
      padding-top: 135px;
      padding-right: 5%;
      padding-bottom: 300px;
      padding-left: 5%; } }
  .dashboard__nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 100%;
    padding: 12px;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 50px; }
    .dashboard__nav__header {
      font-family: "proxima-nova",sans-serif;
      font-weight: 600;
      font-size: 16px;
      width: 100%;
      color: black;
      border-bottom: 1px dotted #dcdddf;
      padding-bottom: 12px; }
    .dashboard__nav__body {
      padding-top: 12px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .dashboard__nav__body__item {
        margin-bottom: 12px;
        font-size: 15px;
        cursor: pointer; }
        .dashboard__nav__body__item:hover, .dashboard__nav__body__item:active {
          text-decoration: underline; }
  .dashboard__cards-and-btn {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .dashboard__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 767px) {
      .dashboard__cards {
        flex-direction: row; } }
  .dashboard__card {
    width: 31%;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    margin-bottom: 40px; }
    .dashboard__card__header {
      font-family: "proxima-nova",sans-serif;
      font-weight: 600;
      color: black;
      width: 100%;
      border-bottom: 1px dotted #dcdddf;
      padding-bottom: 12px; }
    .dashboard__card__body {
      width: 100%;
      padding-top: 12px;
      display: flex; }
      .dashboard__card__body__rank {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        @media (min-width: 767px) {
          .dashboard__card__body__rank {
            width: 5%;
            margin-top: 0px; } }
      .dashboard__card__body__img {
        margin-left: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        @media (min-width: 767px) {
          .dashboard__card__body__img {
            width: 40%; } }
        .dashboard__card__body__img img {
          max-width: 100%;
          height: auto; }
      .dashboard__card__body__name {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        display: flex;
        font-size: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
      .dashboard__card__body__value {
        padding-left: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end; }
        @media (min-width: 767px) {
          .dashboard__card__body__value {
            width: 10%; } }
  .dashboard__btn {
    background: white;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: "proxima-nova",sans-serif;
    font-weight: 500;
    color: black;
    font-size: 18px;
    border: 1px solid white;
    font-family: "proxima-nova",sans-serif;
    text-transform: uppercase; }
  .dashboard ul {
    list-style-type: none; }
  .dashboard li:hover {
    transform: scale(1.03);
    transition-duration: .25s;
    box-shadow: 0px 0px 46px 9px rgba(151, 147, 147, 0.25); }
  .dashboard li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    border: 0.25px solid #8a8a8a;
    padding: 10px;
    cursor: pointer; }
    @media (min-width: 767px) {
      .dashboard li {
        flex-direction: row; } }
  .dashboard span {
    font-weight: bold;
    margin-right: 5px; }
  .dashboard__text-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 767px) {
      .dashboard__text-container {
        width: 80%;
        padding-left: 20px;
        padding-right: 20px; } }
  .dashboard__img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; }
    @media (min-width: 767px) {
      .dashboard__img-container {
        width: 20%;
        margin-top: 0px; } }
    .dashboard__img-container img {
      max-width: 100%;
      height: auto; }
